spring:
  application:
    name: tickets
  datasource:
    url: jdbc:postgresql://localhost:5435/tickets  # Porta 5435 (externa)
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update   # Atualiza o schema sem apagar dados existentes
    show-sql: true                  # exibição no console de todas as instruções SQL
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect


